# GRAPHICAL USER INTERFACE
pyqt5
pyqt5-tools

# WEB DEVELOPMENT
flask

# IMAGE PROCESSING
opencv-python
imutils
pillow

# AUTOMATION / WEB SCRAPPING
requests
selenium
beautifulsoup4
chromedriver-autoinstaller-fix

# MACHINE LEARNING
numpy
pandas
scikit-learn
matplotlib
sympy
tensorflow==2.10.0 # for windows to support GPU
torch # for PyTorch with GPU locate MachineLearning/PyTorch_Installation_with_GPU.txt

# SPEECH LIBRARIES
speechrecognition
pyttsx3

# DATABASE
firebase-admin
pyodbc # for Microsoft SQL Server

# ETC
pygame
pynput
tabulate
pyserial