# GUI
pyqt5
pyqt5-tools

# WEB DEV
flask

# IMAGE PROCESSING
opencv-python
imutils
pillow

# AUTOMATION / WEB SCRAPPING
requests
selenium
beautifulsoup4
chromedriver-autoinstaller-fix

# MACHINE LEARNING
numpy
pandas
scikit-learn
matplotlib
tensorflow==2.10.0 # for windows to support GPU
torch
sympy

# SPEECH RECOGNITION
speechrecognition

# DATABASE
firebase-admin
pyodbc

# ETC
pygame
pynput
tabulate